### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [24]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [25]:

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [26]:
#Count the number of unique players who have made a purchase
SN_specific = purchase_data["SN"].nunique()
total_players = pd.DataFrame({"Total Players":[SN_specific]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
#Calculate the unique items, avg. price, number of purchases, and total revenue
unique_items = purchase_data["Item ID"].nunique()
average_price = purchase_data["Price"].mean()
number_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
#Create a new dataframe with the recent calculations
purchase_analysis = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[average_price], 
                                  "Number of Purchases":[number_purchases], "Total Revenue":[total_revenue]})
#format the dataframe to be read easier
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].astype(float).map("${:,.2f}".format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].astype(float).map("${:,.2f}".format)

purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

# Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [28]:
#Filter through data to drop repeating screen names
gender_info = purchase_data.drop_duplicates(subset=['SN'], keep='first')
#Group the data by gender
gender_info = gender_info.groupby(['Gender'])
gender_info = gender_info.count()
gender_info

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                          81   81   81       81         81     81
Male                           484  484  484      484        484    484
Other / Non-Disclosed           11   11   11       11         11     11

In [29]:
#Create a new dataframe that is indexed by genders
gender_totals = pd.DataFrame(gender_info['SN'])
gender_totals.columns = ['Total Count']
gender_totals

                       Total Count
Gender
Female                          81
Male                           484
Other / Non-Disclosed           11

In [30]:
#Calculate percent of the each gender in the game community
player_count = int(total_players.loc[0])
gender_totals['Percent'] = round((gender_totals['Total Count']/player_count) * 100, 2)
gender_totals

                       Total Count  Percent
Gender
Female                          81    14.06
Male                           484    84.03
Other / Non-Disclosed           11     1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
#Group data by gender
purchase_by_gen = purchase_data.groupby(['Gender'])

In [32]:
#Run calculations
purchase_count = purchase_by_gen["Purchase ID"].count()
avg_purchase_price = purchase_by_gen["Price"].mean()
total_value = purchase_by_gen['Price'].sum()
avg_purchase_total_per = total_value / gender_totals['Total Count']
#Create a new dataframe that uses the recent calculations 
gender_purchase_analysis = pd.DataFrame({'Purchase Count':purchase_count, 'Avg Purchase Price':avg_purchase_price, 
                                        'Total Purchase Value':total_value, 'Avg Total Purchase per Person':avg_purchase_total_per})
#Format the data to be more appealing 
gender_purchase_analysis["Avg Purchase Price"] = gender_purchase_analysis["Avg Purchase Price"].astype(float).map("${:,.2f}".format)
gender_purchase_analysis['Total Purchase Value'] = gender_purchase_analysis['Total Purchase Value'].astype(float).map("${:,.2f}".format)
gender_purchase_analysis['Avg Total Purchase per Person'] = gender_purchase_analysis['Avg Total Purchase per Person'].astype(float).map("${:,.2f}".format)


gender_purchase_analysis

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [33]:
#create a bin for the age grouping and labels 
bins_age = [0, 9.9, 14, 19, 24, 29, 34, 39, 200]
bins_name = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
#create a new column that uses the bins 
purchase_data['Age Grouping'] = pd.cut(purchase_data['Age'], bins_age, labels=bins_name)

In [34]:
age_groups = purchase_data.drop_duplicates(subset=['SN'], keep='first')

In [35]:
#group the data by the recently made column that uses the bins
age_groups = age_groups.groupby(['Age Grouping'])

In [36]:
#Run calculations
total_by_age = age_groups['SN'].count()
percent_by_age = round((total_by_age/SN_specific)*100, 2)
#Create new dataframe
age_demo = pd.DataFrame({'Total Count':total_by_age, 'Percentage of Players':percent_by_age})

age_demo

              Total Count  Percentage of Players
Age Grouping
<10                    17                   2.95
10-14                  22                   3.82
15-19                 107                  18.58
20-24                 258                  44.79
25-29                  77                  13.37
30-34                  52                   9.03
35-39                  31                   5.38
40+                    12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
age_groups_purchase = purchase_data.groupby(['Age Grouping'])

In [38]:
#Run calculations 
purchase_count_age = age_groups_purchase['Purchase ID'].count()
avg_purchase_price_age = age_groups_purchase['Price'].mean()
total_value_age = age_groups_purchase['Price'].sum()
avg_purchase_total_per_age = total_value_age/total_by_age
#Create new data frame 
purchase_analysis_age = pd.DataFrame({'Purchase Count':purchase_count_age, 'Avg Purchase Price':avg_purchase_price_age, 
                                     'Total Purchase Value':total_value_age, 'Avg Total Purchase per Person':avg_purchase_total_per_age})
#Format the data 
purchase_analysis_age["Avg Purchase Price"] = purchase_analysis_age["Avg Purchase Price"].astype(float).map("${:,.2f}".format)
purchase_analysis_age["Total Purchase Value"] = purchase_analysis_age["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchase_analysis_age["Avg Total Purchase per Person"] = purchase_analysis_age["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

purchase_analysis_age

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Grouping,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
#Group by user screen names 
spendin_money = purchase_data.groupby(['SN'])

In [40]:
#Run calculations 
purchase_count_spenders = spendin_money['Purchase ID'].count()
avg_purchase_price_spenders = spendin_money['Price'].mean()
total_value_spenders = spendin_money['Price'].sum()
#Create new data frame
spendin_df = pd.DataFrame({'Purchase Count':purchase_count_spenders, 'Avg Purchase Price':avg_purchase_price_spenders,
                          'Total Purchase Value':total_value_spenders})
#Organize data with Total Value from greatest to least
big_spenders = spendin_df.sort_values(['Total Purchase Value'], ascending=False)
#Format data 
big_spenders["Avg Purchase Price"] = big_spenders["Avg Purchase Price"].astype(float).map("${:,.2f}".format)
big_spenders["Total Purchase Value"] = big_spenders["Total Purchase Value"].astype(float).map("${:,.2f}".format)

big_spenders.head()

             Purchase Count Avg Purchase Price Total Purchase Value
SN
Lisosia93                 5              $3.79               $18.96
Idastidru52               4              $3.86               $15.45
Chamjask73                3              $4.61               $13.83
Iral74                    4              $3.40               $13.62
Iskadarya95               3              $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
#Retrieve Item ID,Name,and Price
items = purchase_data[['Item ID', 'Item Name', 'Price']]

In [42]:
#Group by Item ID and Name
item_id = items.groupby(['Item ID', 'Item Name'])

In [43]:
#Run calculations 
purchase_count_items = item_id['Price'].count()
total_value_item = item_id['Price'].sum()
item_price = total_value_item/purchase_count_items
#Create new data frame 
popular_items = pd.DataFrame({'Purchase Count':purchase_count_items, 'Item Price':item_price, 'Total Purchase Value':total_value_item})
#Organize data by Purchase Count from greatest to least
popular_item = popular_items.sort_values(['Purchase Count'], ascending=False)
#Format data 
popular_item["Item Price"] = popular_item["Item Price"].astype(float).map("${:,.2f}".format)
popular_item["Total Purchase Value"] = popular_item["Total Purchase Value"].astype(float).map("${:,.2f}".format)

popular_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [44]:
#Organize the previous table data by Total Purchase Value from greatest to least
profitable_items = popular_items.sort_values(['Total Purchase Value'], ascending=False)
#Format data
profitable_items["Item Price"] = profitable_items["Item Price"].astype(float).map("${:,.2f}".format)
profitable_items["Total Purchase Value"] = profitable_items["Total Purchase Value"].astype(float).map("${:,.2f}".format)
profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80